{% extends "layout.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}


<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <h1 class="bg-info text-center">{% if updateemployee %} Update {% else %}Register {% endif %} Employee</h1>
        </div>
        <div class="col-md-2"></div>
    </div>
    <form action="" method="post">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {{ render_field(form.name, class="form-control")}}
                {{ render_field(form.username,class="form-control")}}
                {{ render_field(form.email,class="form-control")}}
                {{ render_field(form.password, class="form-control")}}
                {{ render_field(form.confirm ,class="form-control")}}
                <p><input type="submit" value="Register" class="btn-info">

            </div>

            <div class="col-md-2"></div>
        </div>
    </form>
</div>

{% endblock content %}