<div class="container mt-4">

    <div class="row">
        <div class="col-md-12">
            Invoice: {{orders.invoice}}
            <br>
            Status: {{orders.status}}
            <br>
            Customer name: {{customer.name}}
            <br>
            Customer email: {{customer.email}}

            <br>
        <table class="table table-sm">
            <thead>
                <th>Sr</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>Subtotal</th>
            </thead>
            <tbody>
                {% for key, product in orders.orders.items() %}
                {% set discount =(product.discount/100) * product.price|float %}
                <tr>
                    {{loop.index}}
                    {{product.name}}
                    <form action="{{url_for('updatebasket', code=key)}}" method="post">


                    £{{"%.2f"|format(product.price)}}

                    {% if product.discount  %}
                    {{product.discount}} % &nbsp; &nbsp; is {{"%.2f"|format(discount)}}

                    {% endif %}
                    {% set subtotal = product.quantity|int * product.price|float  %}
                    £{{"%.2f"|format(subtotal - discount|round(1,'floor')) }}


                </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table table-sm">

               <td width="42%"></td>

               <td> <h5>Grand total: £{{grandTotal}}</h5> </td>


           </tr>
        </table>
    </div>
    <img src="{{ qrcode( url) }}">
  </div>
</div>
