{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container mt-4">
    {% include '_messages.html' %}
    <div class="row">
        <div class="col-md-12">
        <table class="table table-sm">
            <thead>
                <th>Sr</th>
                <th>Name</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Subtotal</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for key, ticket in session['ShoppingBasket'].items() %}
                {% set discount =(ticket.discount/100) * ticket.price|float %}
                <tr>
                    <td>{{loop.index}}</td>

                    <td>{{ticket.title}}</td>

                    <td>{{ticket.price}}</td>
                    <td>{{ticket.discount}}</td>
                    <td> <a href="{{url_for('adult', id=key)}}" class="btn btn-sm btn-info">Adult</a></td>
                    <td> <a href="{{url_for('child', id=key)}}" class="btn btn-sm btn-info">Child</a></td>
                    <td> <a href="{{url_for('teen', id=key)}}" class="btn btn-sm btn-info">Teen</a></td>
                    <td> <a href="{{url_for('elderly', id=key)}}" class="btn btn-sm btn-info">Elderly</a></td>
                    <td> <a href="{{url_for('deleteitem', id=key)}}" class="btn btn-sm btn-danger">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table table-sm">
           <tr>
               <td> <a href="{{url_for('get_order')}}" class="btn btn-success"> Order now </a> </td>
               <td width="35%"></td>
               <td> <h5>Tax: £{{tax}}</h5></td>
               <td> <h3>Grand total: £{{grandtotal}}</h3> </td>
                <td> <a href="{{url_for('clearbasket')}}" class="btn btn-danger btn-sm float-right mr-4"> Clear cart</a> </td>
           </tr>
        </table>
    </div>
  </div>
</div>
{% endblock content %}