{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container">

    <div class="row">

        <!--========= END ELSE IF ===============-->


        {% if ticket  %}
      <div class="col-md-3 mt-4">
        <div class="card">

            <div class="card-body">
                {% if ticket.discount > 0 %}
                <h5 style="text-shadow: 1px 2px 2px #000; color: #f00; transform: rotate(-15deg); position: absolute; top: 23%; left: 25%; font-weight: 600;"> Discount {{ticket.discount}}</h5>
                {% endif %}
              <h5 class="text-center">{{ticket.screen.movie.title}}</h5>
              <p class="text-center">Price £{{ticket.price}}</p>
            </div>
            <div class="card-footer">

                <form action="{{url_for('AddBasket')}}" method="post">
                  <input type="hidden" name="ticket_id" value="{{ticket.id}}">
                  <input type="hidden" name="quantity" value="1" min="1" max="20">
                  <button type="submit" class="btn btn-sm btn-warning float-right">Add to Basket</button>


                </form>
            </div>
        </div>
      </div>
        {% endif %}
      </div>

    </div>
</div>
{% endblock content %}
