{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}

<style>
.custom-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a box shadow when hovered */
    transform: scale(1.05); /* Increase the size of the card when hovered */
    transition: all 0.3s ease; /* Add a smooth transition effect */
  }

  .custom-card-body {
    height: 100px; /* Set the desired height here */
    overflow: hidden; /* Hide content that exceeds the specified height */
  }

  .custom-title {
    color: #333; 
  }
</style>

<div class="container">
    <div class="row">
        {% for movie in movies %}
            <div class="col-md-3 mt-4">
                <a href="{{ url_for('single_page', id=movie.id) }}" class="card-link">
                    <div class="card custom-card">
                        <img src="{{ movie.image }}" height="360" class="card-img-top" alt="{{ movie.title }}" width="200">
                        <div class="card-body custom-card-body">
                            <h5 class="text-center custom-title">{{ movie.title }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

