{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}
<!---============== END OF NAV BAR ==================-->

<div class="container mt-5">


    <div class="row">

        <div class="col-md-6">
           {% for i in range(screen.seats) %}
               {% for j in arr%}
                   {% if i == j%}
                        <a href="{{url_for('ticketSelection',id=i)}}" class="btn btn-sm btn-primary">{{ i }}</a>
                   {% endif %}
               {% endfor %}
               {% for ticket in tickets %}
                   {% if i == ticket.seatNo %}
                       <button type="button" class="btn btn-danger btn-sm" >{{ i }}</button>
                   {% endif %}

               {% endfor %}

           {% endfor %}

        </div>
    </div>




</div>


{% endblock content %}