{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}
<!---============== END OF NAV BAR ==================-->

<div class="container mt-5">


    <div class="row">
        <div class="col-md-6" id="b_image">
             <img src="{{movie.image}}" alt="{{movie.title}}" width="300" >
        </div>
        <div class="col-md-6">
            <h4>{{movie.title}} </h4>
            <hr>
            <p>Duration: {{movie.duration}}</p>
            <hr>
            <p>Certificate: {{movie.certificate}}</p>
            <hr>
            <p>Reason for rating: {{movie.ratingReason}}</p>
            <hr>
            <p>Genres: {{movie.genres}}</p>
            <hr>
            <p>Plot: {{movie.plot}}</p>
            <hr>
        </div>
    </div>

</div>

<!DOCTYPE html>
<html>
<head>
<style>
html, body {
	margin: 0;
	color: #546E7A;
}

* {
	box-sizing: border-box;
}

.timetable {
	display: grid;
	grid-template-areas: ". week" "time content";
	grid-template-columns: 120px;
	grid-template-rows: 60px;
	width: 63vw;
	height: 80vh;
}


.timetable .week-names {
	grid-area: week;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	text-transform: uppercase;
	font-size: 12px;
}

.timetable .week-names > div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	box-shadow: inset 1px 0 0 #ECEFF1;
}

.timetable .time-interval {
	grid-area: time;
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	font-size: 14px;
}

.timetable .time-interval > div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 1px 0 0 #ECEFF1;
}

.timetable .content {
	grid-area: content;
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(7, 1fr);
}

.timetable .content > div {
	box-shadow: inset 1px 0 0 #ECEFF1, inset 0 1px 0 0 #ECEFF1;
}
</style>
</head>
<body>
<div class="container mt-5">
    <div class="timetable">
      <div class="week-names">
        <div>monday</div>
        <div>tuesday</div>
        <div>wednesday</div>
        <div>thursday</div>
        <div>friday</div>
        <div>saturday</div>
        <div>sunday</div>
      </div>
      <div class="time-interval">

        <div>9:00 - 12:00</div>
        <div>12:00 - 15:00</div>
        <div>15:00 - 18:00</div>
        <div>18:00 - 21:00</div>

      </div>
      <div class="content">

    {#    9:00#}
        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 0 %}
                                {% if time == time9 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>

        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 1 %}
                                {% if time == time9 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>
        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 2 %}
                                {% if time == time9 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>
        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 3 %}
                                {% if time == time9 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>
        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 4 %}
                                {% if time == time9 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>
        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 5 %}
                                {% if time == time9 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>
        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 6 %}
                                {% if time == time9 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>

    {#    12:00#}
        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 0 %}
                                {% if time == time12 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>

        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 1 %}
                                {% if time == time12 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>
        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 2 %}
                                {% if time == time12 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>
        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 3 %}
                                {% if time == time12 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>
        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 4 %}
                                {% if time == time12 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>
        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 5 %}
                                {% if time == time12 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>
        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 6 %}
                                {% if time == time12 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>

    {#    15:00#}
        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 0 %}
                                {% if time == time15 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>

        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 1 %}
                                {% if time == time15 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>
        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 2 %}
                                {% if time == time15 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>
        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 3 %}
                                {% if time == time15 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>
        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 4 %}
                                {% if time ==time15 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>
        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 5 %}
                                {% if time == time15 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>
        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 6 %}
                                {% if time == time15 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>

    {#    18:00#}
        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 0 %}
                                {% if time == time18 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>

        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 1 %}
                                {% if time == time18 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>
        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 2 %}
                                {% if time == time18 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>
        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 3 %}
                                {% if time == time18 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>
        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 4 %}
                                {% if time == time18 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>
        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 5 %}
                                {% if time == time18 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>
        <div>
            <div>
                {% for screen in screens %}
                        {% if screen.movie_id == movie.id %}
                            {% if day == 6 %}
                                {% if time == time18 %}
                                    <a href="{{url_for('seats_page',id=screen.id)}}" class="btn btn-sm btn-primary">Ticket Selection</a>
                                    <p>Date: {{screen.date}}</p>
                                    <p>Date: {{screen.startTime}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </div>
        </div>

      </div>
    </div>
</div>




</body>
</html>



{% endblock content %}
