{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}
    <h1>Select Ticket</h1>
    <select name = "tickets" id = "tickets">
        {% for i in range(0, tickets.ammount) %}
            <option value={{ tickets.getValue(i)}}>{{ tickets.getName(i)}}</option>
        {% endfor %}
    </select>
    <h1>Select Time</h1>
    <select name = "time" id = "time">
        {% for i in range(0, tickets.ammount) %}
            <option value={{ tickets.getValueTime(i)}}>{{ tickets.getNameTime(i)}}</option>
        {% endfor %}
    </select>
{% endblock content %}